<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_field :event_name %>
  </div>

  <div class="field">
    <%= form.label :event_cat %>
    <%= form.text_field :event_cat %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_select :event_date %>
  </div>

  <div class="field">
    <%= form.label :event_start_time %>
    <%= form.datetime_select :event_start_time %>
  </div>

  <div class="field">
    <%= form.label :event_end_time %>
    <%= form.datetime_select :event_end_time %>
  </div>

  <div class="field">
    <%= form.label :ticket_price %>
    <%= form.text_field :ticket_price %>
  </div>

  <div class="field">
    <%= form.label :no_of_seats %>
    <%= form.number_field :no_of_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
