<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
    <table>
      <tr>
        <th>ID</th>
        <th>Event Name</th>
        <th>Event Link</th>
      </tr>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.__id__ %></td>
        <td><%= event.event_name %></td>
        <td><%= link_to "Show this event", event %></td>
      </tr>
      <% end %>
    </table>
</div>
<% if current_admin %>
    <%= link_to "New event", new_event_path %>
<% end %>>
<%= link_to "Home Page", root_path %>
