<p style="color: green"><%= notice %></p>

<h1>Your Event Tickets</h1>

<div id="event_tickets">
  <% current_user.attended_events.each do |attended_event| %>

    <% attended_event.event_tickets.each do |event_ticket| %>
      <h2><%= attended_event.event_name %></h2>
      <%= render event_ticket %>
      <p>
        <%= link_to "Show this event ticket", event_ticket %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New event ticket", new_event_ticket_path %>
